# Project Configuration
PROJECT_NAME=tfm-slm
VERSION=0.1.0

# Dataset Configuration
# Directory where datasets will be downloaded and stored
DATASETS_DIR=.datasets
# Whether to trust remote code from Hugging Face datasets
TRUST_REMOTE_CODE=true


